<ion-button (click)="toggle()" [color]="service.running ? 'danger' : 'success'">
    <ion-icon *ngIf="!service.running" name="play-circle-outline"></ion-icon>
    <ion-icon *ngIf="service.running" name="pause-circle-outline"></ion-icon>
    <ion-label>&nbsp;{{service.currentTime}}</ion-label>
</ion-button>

<ion-chip *ngFor="let time of service.times" style="top: 3px;">
    <ion-label>{{time}}</ion-label>
</ion-chip>
<!-- 
<ion-chip *ngIf="running">
    <ion-label>{{currentTime}}</ion-label>
    <ion-icon name="pause"></ion-icon>
</ion-chip> -->


<!-- 
    decidi usar um timer... 
    clicar nele da play/stop e registra a hora...
    a primeira tarefa é a que contabiliza os pomodoros...


-->