<p>
  <ion-button (click)="toggle()"
              [color]="service.timer.running ? 'success' : 'warning'"
              [title]="service.timer.goal"
              style="font-size: 6vh; height: 9vh;">
    <ion-icon *ngIf="!service.timer.running" name="play-circle-outline"></ion-icon>
    <ion-icon *ngIf="service.timer.running" name="pause-circle-outline"></ion-icon>
    <ion-label>&nbsp;{{service.timer.pomodoroTime}}</ion-label>
  </ion-button>

</p>
  <p><ion-label style="font-size: 3vh;">Total: {{service.timer.currentTime}}</ion-label></p>
  <p><ion-label style="font-size: 3vh;">Saldo: {{service.timer.goal}}</ion-label></p>

<!--<ion-chip style="top: 3px; padding-left: 0px;">
  <ion-icon name="hammer-outline"></ion-icon>
  <ion-label>{{service.timer.pomodoroCount}}</ion-label>
</ion-chip>
<ion-chip style="top: 3px; padding-left: 0px;">
  <ion-icon name="cafe-outline"></ion-icon>
  <ion-label>{{service.timer.pomodoroState}}</ion-label>
</ion-chip>
<ion-chip style="top: 3px; padding-left: 0px;">
  <ion-icon name="game-controller-outline"></ion-icon>
  <ion-label>{{service.timer.pomodoroTime}}</ion-label>
</ion-chip>-->

<ng-template ngFor let-time [ngForOf]="service.timer.clicks" let-index="index">

  <ion-chip style="top: 3px;" (click)="removeTime(time)">
    <ion-label>{{time.toLocaleTimeString()}}</ion-label>
  </ion-chip>


  <ion-chip *ngIf="index < service.timer.clicks.length - 1 && index%2==0"
            color="success"
            style="top: 3px; padding-left: 0px;"
            [title]="formatInterval(service.timer.clicks[index+1], time)">
    <ion-icon name='snow-outline'></ion-icon>
  </ion-chip>

  <ion-chip *ngIf="index < service.timer.clicks.length - 1 && index%2!=0"
            color="warning"
            style="top: 3px; padding-left: 0px;"
            [title]="formatInterval(service.timer.clicks[index+1], time)">
    <ion-icon name='sunny-outline'></ion-icon>
  </ion-chip>

</ng-template>
