<div class="sidenav" [class.open]="open">
  <span class="closebtn" style="cursor:pointer" (click)="open = false;">×</span>
  <div class="sidenav-content">
    <span style="font-size:30px;cursor:pointer" (click)="openMenu = true">
    <img
         style="border-radius: 50%; width: 42px;"
         *ngIf="auth.profile && auth.profile.picture"
         [src]="auth.profile.picture" />
  </span>
    <a href="#">About</a>
    <a href="#">Services</a>
    <a href="#">Clients</a>
    <a href="#">Contact</a>
  </div>
</div>
<div (click)="clickout()" style="width:100%; height:100%;">
  <ng-content></ng-content>
</div>
