<div class="sidenav" [class.open]="open">
  <div class="pure-u-4-5">
    <img style="border-radius: 50%; width: 42px;"
         *ngIf="auth.profile && auth.profile.picture"
         [src]="auth.profile.picture" />
  </div>

  <div class="pure-u-1-5">
    <span style="cursor: pointer; font-size: 6vh;" (click)="open = false;">×</span>
  </div>

  <div class="sidenav-content">
    <span class="sidenav-item">Notifications <input type="checkbox" [(ngModel)]="notificationToggle" /> Enabled</span>
    <span class="sidenav-item">Notifications</span>
    <span class="sidenav-item">Notifications</span>
    <span class="sidenav-item">Notifications</span>
  </div>
</div>
<div (click)="clickout()" style="width:100%; height:100%;">
  <ng-content></ng-content>
</div>
