<ion-app>
  <ion-header [translucent]="true">

    <ion-toolbar>

      <button (click)="notification.send('test','123')">Test Notifications</button>
      <ion-toggle [(ngModel)]="notification.permissionGranted"></ion-toggle>
      <table slot="end" style="margin-right: 15px;">
        <tr>
          <td>
            <ion-label>{{service.processor.timer.currentTime}}</ion-label>
          </td>
        </tr>
        <tr><td><ion-label color="medium">{{service.processor.timer.goal}}</ion-label></td></tr>
      </table>
      <app-chronometer slot="end"></app-chronometer>
    </ion-toolbar>

  </ion-header>

  <ion-content [fullscreen]="true">

    <div class="ion-padding">
      <app-timeline></app-timeline>

    </div>
  </ion-content>
</ion-app>
