<ion-app>
  <ion-header [translucent]="true">

    <ion-toolbar>

      <!--<app-login-button slot="start"></app-login-button>-->
      <button (click)="notification.send('test','123')">Test Notifications</button>
      <!---->
      <ion-toggle [(ngModel)]="notification.permissionGranted"></ion-toggle>
      <app-chronometer slot="end"></app-chronometer>
      <!--<ion-title>Missões do dia</ion-title>-->
    </ion-toolbar>

  </ion-header>

  <ion-content [fullscreen]="true">

    <div class="ion-padding">
      <!--<ion-item>
        <ion-label position="floating">Cadastrar nova missão...</ion-label>
        <ion-input (keyup.enter)="addItem()" [(ngModel)]="newTitle"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Cadastrar nova missão...</ion-label>
        <ion-input (keyup.enter)="addItem()" [(ngModel)]="newTitle"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Cadastrar nova missão...</ion-label>
        <ion-input (keyup.enter)="addItem()" [(ngModel)]="newTitle"></ion-input>
      </ion-item>-->

      <table>
        <tr><td><ion-label>&nbsp;{{service.processor.timer.goal}}</ion-label></td></tr>
        <tr><td><ion-label>&nbsp;{{service.processor.timer.currentTime}}</ion-label></td></tr>
      </table>

      <!--<ion-card>
        <ion-card-content>
          <app-chronometer slot="end"></app-chronometer>

          <table>
            <tr><td><ion-label>&nbsp;{{service.processor.timer.goal}}</ion-label></td></tr>
            <tr><td><ion-label>&nbsp;{{service.processor.timer.currentTime}}</ion-label></td></tr>
          </table>


          <ion-label>&nbsp;_{{service.processor.timer.pomodoroState}}_</ion-label>

        </ion-card-content>
      </ion-card>-->
      <!--<ion-card color="success">
        <ion-card-header>
          <ion-card-title>
            <table>
              <tr>
                <td>
                </td>
                <td>-->
      <!--<table>
      <tr><td><ion-label>&nbsp; Total: {{service.processor.timer.currentTime}}</ion-label></td></tr>
      <tr><td><ion-label>&nbsp; Saldo: {{service.processor.timer.goal}}</ion-label></td></tr>
      </table>-->
      <!--<ion-item>
        <ion-label position="floating">Cadastrar nova missão...</ion-label>
        <ion-input (keyup.enter)="addItem()" [(ngModel)]="newTitle"></ion-input>
      </ion-item>-->
      <!--</td>
            </tr>
          </table>

          <ion-label>Pomodoro</ion-label>

        </ion-card-title>
        <ion-card-subtitle>teste</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        teste 2
      </ion-card-content>-->
      <!--<app-chronometer></app-chronometer>-->
      <!--</ion-card>-->

      <div class="ion-padding" *ngIf="service.processor.timer.currentTimeInterval">
        + {{service.processor.timer.currentTimeInterval}}
      </div>

      <app-timeline></app-timeline>

      <!--      <app-task-list></app-task-list>-->
      <!-- <ion-item>
        <ion-label position="floating">Cadastrar nova missão...</ion-label>
        <ion-input (keyup.enter)="addItem()" [(ngModel)]="newTitle"></ion-input>
      </ion-item>



      <app-task-list></app-task-list>

      <ion-reorder-group (ionItemReorder)="$event.detail.complete();" disabled="false">


        <ion-item *ngFor="let mission of missions">
          <ion-reorder slot="start"></ion-reorder>
          <ion-label>
            {{mission.title}}
          </ion-label>
        </ion-item>


      </ion-reorder-group> -->

    </div>
  </ion-content>
</ion-app>

<!--<div style="position:fixed;z-index:1;">
  <app-chronometer></app-chronometer>
</div>-->
<!--<ion-item>
</ion-item>-->
