<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-label>Tasks</ion-label>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/home">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div id="container">

    <ion-reorder-group disabled="false" (ionItemReorder)="$event.detail.complete()">

      <ion-card *ngFor="let task of service.processor.tasks; let i = index">

        <ion-card-header>

          <div style="position: absolute; z-index: 2; top: 12px; left: 12px;">
            <ion-reorder>
              <ion-icon name="reorder-two-outline" color="medium" size="large"></ion-icon>
            </ion-reorder>
          </div>

          <div style="margin-top: 3px; padding-left: 30px;">
            <ion-label>{{task.name}}</ion-label>
          </div>

          <div style="cursor: pointer; position: absolute; z-index: 2; right: 60px; top: 15px;"
               [routerLink]="[i ,'edit']">
            <ion-icon name="pencil" color="primary" style="font-size:21px;"></ion-icon>
          </div>

          <div style="cursor: pointer; position: absolute; z-index: 2; right: 15px; top: 15px;"
               (click)="remove(task)">
            <ion-icon name='trash' color="danger" style="font-size:21px;"></ion-icon>
          </div>

        </ion-card-header>
      </ion-card>

    </ion-reorder-group>

  </div>
</ion-content>
<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button routerLink="/tasks/new">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>


