<div style="margin-top: 21px;">

<check-button style="float:right" [routerLink]="['/doing']"><span class="mdi mdi-clipboard-text-play-outline"></span> Let's go!</check-button>
 <br />
  <mat-form-field hintLabel="Até 30 caracteres" appearance="fill">
    <mat-label>Criar nova tarefa</mat-label>
    <input matInput #input maxlength="30" [(ngModel)]="textInput" (keyup.enter)="add()" autocomplete="off" autofocus>
    <mat-hint align="end">{{input.value?.length || 0}}/30</mat-hint>
  </mat-form-field>

  <div *ngFor="let todo of todoList.firstTier" style="padding-left:10px;padding-bottom:10px;padding-right:10px;">
    <mat-card>
      <button type="button" mat-icon-button style="float:right" (click)="remove(todo)">
        <span class="mdi mdi-24px mdi-delete"></span>
      </button>
      <mat-card-content>
        <p>
          {{todo.name}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <hr *ngIf="todoList.secondTier.length"/>

  <div *ngFor="let todo of todoList.secondTier" style="padding-left:10px;padding-bottom:10px;padding-right:10px;">
    <mat-card>
      <button type="button" mat-icon-button style="float:right" (click)="remove(todo)">
        <span class="mdi mdi-24px mdi-delete"></span>
      </button>
      <mat-card-content>
        <p>
          {{todo.name}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <hr *ngIf="todoList.thirdTier.length"/>

  <div *ngFor="let todo of todoList.thirdTier" style="padding-left:10px;padding-bottom:10px;padding-right:10px;">
    <mat-card>
      <button type="button" mat-icon-button style="float:right" (click)="remove(todo)">
        <span class="mdi mdi-24px mdi-delete"></span>
      </button>
      <mat-card-content>
        <p>
          {{todo.name}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>

    <hr *ngIf="todoList.extraTier.length"/>

  <div *ngFor="let todo of todoList.extraTier" style="padding-left:10px;padding-bottom:10px;padding-right:10px;">
    <mat-card>
      <button type="button" mat-icon-button style="float:right" (click)="remove(todo)">
        <span class="mdi mdi-24px mdi-delete"></span>
      </button>
      <mat-card-content>
        <p>
          {{todo.name}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>

</div>
