<div *ngIf="service.processor.tasks && service.processor.tasks.length"
     class="ion-padding" style="font-size: 30px;">
  
  <ion-button [color]="service.processor.timer.pomodoroState == 0 ? 'success' : 'warning'">
    <ion-icon name="checkbox"></ion-icon>
    <ion-label>Complete</ion-label>
  </ion-button>

  <ion-label>{{service.processor.tasks[0].name || 'Unnamed'}}</ion-label>
</div>

<div *ngIf="!service.processor.tasks || !service.processor.tasks.length"
     class="ion-padding">
  Cadastre tarefas!
</div>
