<app-todo-page *ngIf="Navigation.isPlanning()"></app-todo-page>
<app-doing-page *ngIf="Navigation.isDoing()"></app-doing-page>

<button mat-raised-button style="background-color:#616161; position:fixed;right:15px;bottom:15px" (click)="cronometer.click()">
  {{cronometer.time}} <span [class.mdi-timer-off-outline]="cronometer.running" [class.mdi-timer-outline]="!cronometer.running" class="mdi mdi-24px"></span>
</button>

<mat-chip-list #chipList style="position:fixed;right:126px;bottom:18px">

  <mat-chip *ngFor="let click of todos?.times"            
            (click)="cronometer.removeTime(click)"
            [selectable]="selectable"
            [removable]="removable">
    {{click}}
    <span class="mdi mdi-close"></span>
  </mat-chip>

</mat-chip-list>
