<check-button [(pressed)]="openEdit">
  <span class="mdi mdi-clipboard-arrow-left-outline"></span> Edit Tasks
</check-button>

<score-graph *ngIf="window.innerWidth > 360"></score-graph>

<modal-dialog [(open)]="openEdit" title="Edit">
  <app-todo-page></app-todo-page>
</modal-dialog>
<app-doing-page></app-doing-page>

<button mat-raised-button style="background-color:#616161; position:fixed;right:15px;bottom:15px" (click)="cronometer.click()">
  {{cronometer.time}} <span [class.mdi-timer-off-outline]="cronometer.running" [class.mdi-timer-outline]="!cronometer.running" class="mdi mdi-24px"></span>
</button>

<mat-chip-list #chipList style="position:fixed;right:126px;bottom:18px">

  <mat-chip *ngFor="let click of todos?.times"
            (click)="cronometer.removeTime(click)"
            [selectable]="selectable"
            [removable]="removable">
    {{click}}
    <span class="mdi mdi-close"></span>
  </mat-chip>

</mat-chip-list>


<div *ngIf="todos">
  <achievement-animation [(achieved)]="todos.achieved1" (achievedChange)="onAchievedChange()" title="Bronze medal" detail="4 tasks completed"></achievement-animation>
  <achievement-animation [(achieved)]="todos.achieved2" (achievedChange)="onAchievedChange()" title="Silver medal" detail="10 tasks completed"></achievement-animation>
  <achievement-animation [(achieved)]="todos.achieved3" (achievedChange)="onAchievedChange()" title="Gold medal" detail="18 tasks completed"></achievement-animation>
</div>
