<div style="margin-top: 21px;">

  <div style="width:100%;">

    <ng-template ngFor let-todo [ngForOf]="todoList?.tasks" let-i="index">

      <div *ngIf="todo.stacks > 1 && shoudRenderTodoItem(i)" class="button-wrapper">
        <stacked-check-button [(count)]="todo.done" [size]="todo.stacks" (countChange)="todoClicked()">{{todo.name}}</stacked-check-button>
      </div>

      <div *ngIf="!(todo.stacks > 1) && shoudRenderTodoItem(i)" class="button-wrapper">
        <check-button [(pressed)]="todo.done" (pressedChange)="todoClicked(todo)">{{todo.name}}</check-button>
      </div>

    </ng-template>

  </div>

</div>
