<check-button (click)="Navigation.goToPlanning()"><span class="mdi mdi-clipboard-arrow-left-outline"></span> Edit Tasks</check-button>

<div style="margin-top: 21px;">


  <div *ngIf="todoList.percentage1 == 100 && todoList.percentage2 == 100" style="width:100%;">
    <div *ngFor="let todo of todoList.thirdTier" style="padding: 10px 0px 0px 10px;">
      <check-button [(pressed)]="todo.done" (pressedChange)="todoClicked()">{{todo.name}}</check-button>
    </div>
  </div>

  <hr *ngIf="todoList.percentage2 == 100" style="margin-top: 27px;"/>

  <div *ngIf="todoList.percentage1 == 100" style="width:100%">
    <div *ngFor="let todo of todoList.secondTier" style="padding: 10px 0px 0px 10px;">
      <check-button [(pressed)]="todo.done" (pressedChange)="todoClicked()">{{todo.name}}</check-button>
    </div>
  </div>

  <hr *ngIf="todoList.percentage1 == 100" style="margin-top: 27px;"/>

  <div style="width:100%">
    <div *ngFor="let todo of todoList.firstTier" style="padding: 10px 0px 0px 10px;">
      <check-button [(pressed)]="todo.done" (pressedChange)="todoClicked()">{{todo.name}}</check-button>
    </div>
  </div>

</div>

<achievement-animation [(achieved)]="todoList.achieved1" (achievedChange)="onAchievedChange()"></achievement-animation>
<achievement-animation [(achieved)]="todoList.achieved2" (achievedChange)="onAchievedChange()"></achievement-animation>
<achievement-animation [(achieved)]="todoList.achieved3" (achievedChange)="onAchievedChange()"></achievement-animation>
