<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-label *ngIf="editId">Edit task</ion-label>
      <ion-label *ngIf="!editId">New task</ion-label>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/tasks">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list (keyup.enter)="save()">

    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input #taskNameInput
                 [(ngModel)]="model.name"
                 autocomplete="off"
                 inputmode="text"
                 name="task-name"
                 autofocus="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Type</ion-label>

      <ion-radio-group [(ngModel)]="model.type">

        <ion-item>
          <ion-label>Pomodoro</ion-label>
          <ion-radio slot="start" value="0"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Break</ion-label>
          <ion-radio slot="start" value="1"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Long break</ion-label>
          <ion-radio slot="start" value="2"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-item>

    <ion-item>
      <ion-label>Repeats</ion-label>
      <ion-toggle [(ngModel)]="model.repeats"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-button (click)="save()" slot="end">Save</ion-button>
    </ion-item>

  </ion-list>

</ion-content>
