<ng-template ngFor let-item [ngForOf]="events" let-index="index">
  <ion-card>
    <ion-card-header>

      <ion-card-title>
        <ion-label> {{item.title}}</ion-label>
        <div style="cursor: pointer; position: absolute; right: 0px; top: 0px;" (click)="remove(item)">
          <ion-icon name='trash' color="danger"></ion-icon>
        </div>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-icon color="secondary" name="stopwatch-outline" style="margin-bottom: -2px;"></ion-icon>
      <ion-label color="secondary">{{item.time}}</ion-label>


      <ion-label *ngIf="index != 0" style="position: absolute; right: 15px;">{{item.bonus}}</ion-label>
      <ion-label *ngIf="index == 0 && service.processor.timer.running && service.processor.timer.currentTimeInterval" style="position: absolute; right: 15px;">+ {{service.processor.timer.currentTimeInterval}}</ion-label>
    </ion-card-content>
  </ion-card>
  
</ng-template>
